body {
    min-width: 360px;
}

*, *::after, *::before {
    box-sizing: border-box;
}

nav {
    background-color: #2D3047;
    color: white;
    & a {
        color: white;
        text-decoration: none;
        width: 100%;
    }

    & ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }
}

nav.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    & .left {
        display: inherit;
        align-items: inherit;
        justify-content: inherit;
        gap: 20px;
        & .menu {
            & button {
                border: none;
                background: transparent;
                cursor: pointer;
                & i {
                    font-size: 40px;
                    color: white;
                }
            }
        }

        & .brand {
            & img {
                height: 50px;
            }
        }

        @media screen and (max-width: 620px) {
            & .brand {
                display: none;
            }
        }
    }

    & .right {
        ul {
            list-style: none;
            padding: 0;
            margin: 0;
            display: flex;
            align-items: center;
            gap: 10px;
        }
    }
}


nav.drawer {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 99;
    width: 0;
    padding: 0;
    & .header {
        & img {
            height: 50px;
            max-width: 100%;
        }
    }

    & ul {
        margin: 40px 0 40px;
        & li {
            margin: 10px 0;
            gap: 10px;
            & a {
                display: flex;
                align-items: center;
                justify-content: space-between;
                font-size: 1.3rem;
                padding: 5px;
            }
        }

        & li:hover {
            outline: 1px solid white;
        }
    }
}

nav.drawer.active {
    display: block;
    
    width: 320px;
    padding: 20px;
}

.table {
    & ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }
}